<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.message %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

<a target="_top"></a>
<a href="https://www.facebook.com/dialog/pagetab?app_id=156550491219971&amp;next=https://freshfun.herokuapp.com/">.</a>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId  : '156550491219971',
    status : true,
    cookie : true,
    xfbml  : true 
  });
</script>
 
<div id="container_notlike">
SHOW NOTHING
</div>
 
<div id="container_like">
SHOW COMPETITION FORM
</div>


<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <img src="assets/images/main_header.jpg">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h2>Competition - Enter to WIN the Tefal OptiGrill and Tefal Fresh Express</h2>
        </div>
    </div>       
    <div class="row-fluid">
        <div class="span12">
            <p>Soon you'll be serving up restaurant quality meals quickly and easily with Tefal OptiGrill and Tefal Fresh Express</p><br>
            <p>For your chance to get your hands on this perfect kitchen pair, simple fill out the form below:</p>
        </div>
    </div>    
    <div class="row-fluid">
        <div class="span6">
        <form action="send_email.php" id="image_mail" method="post" enctype="multipart/form-data">
            <label for="name">First Name*</label>
            <input type="text" name="name" id="name" class="span8 required_send">
            <span class="val">*Required First Name</span>

            <label for="last_name">Last Name*</label>
            <input type="text" name="lname" id="lname" class="span8">
            <span class="val">*Required Last Name</span>

            <label for="name">Email*</label>
            <input type="text" name="email" id="email" class="span8 required_send">
            <span class="val">*Required Email</span>

            <label for="name">Phone*</label>
            <input type="text" name="phone" id="phone" class="span8">
        </div>
        <div class="span1">
        </div>
        <div class="span5">
            <img src="assets/images/delicious.jpg">
            <div class="span12 mT40">
                <input id="submit_form" type="submit" value="Submit Application" class="span6 btn btn-success">
                <div class="span1"></div>
                <img id="submit_form_wait" src="assets/images/ajax-loader.gif"/>
            </div>
        </div>
        <input style="display:none" type="submit" value="Submit Application" id="submit" class="span6 btn btn-large btn-success submit"/>
        </form>
    </div>    
    <div class="row-fluid">
        <div class="span12 seperator">
        </div>
    </div>   
    <div class="row-fluid">
        <div class="span12">
            <p>T&amp;Cs: The following rules apply to Tefal's Fresh Week Facebook giveaway that runs from Monday 5 May to Sunday 19 May (entries accepted until 23:59).</p>
            <p>Details of the giveaway:
                <ul>
                    <li>An entrant must fully complete the registration form on the web page</li>
                    <li>One winner per day (13 - 19 May) will be chosen at random from among the qualifying entries.</li>
                    <li>The selection will be carried out by Groupe SEB or its appointed agency Third City and is final.</li>
                    <li>No purchase is necessary</li>
                    <li>The winner will be notified shortly after the selection is made.</li>
                </ul>
            <p>Eligibility</p>
            <!-- <p>The giveaway is open to all UK residents aged 18 or over.</p>
            <p>Prizes include:</p>
            <p>1x Tefal Fresh Express, 1x Riverford Organic Farms basket.</p>
            <p>There are no alternatives to the prize offered.</p>
            <p>By entering the "giveaway" you are agreeing to these terms and conditions.</p> -->
        </div>
    </div>
    <div class="row-fluid readmore_button">
        <div class="span12">
            <p>read more</p>
        </div>
    </div> 
    <div class="row-fluid">
         <div class="span12">
             <h2><b>Terms &amp; Conditions</b></h2>
             <p>No purchase necessary, applicants must be aged 18  &amp; over &amp; resident in the UK.</p>
             <p>There is no cash alternative to the prizes on offer. The successful winner will be selected at random.</p>
             <p>Competition entry is available from 3 September 2013 and closes 5pm on 20 September 2013.</p>
             <br>
             <h2><b>Privacy Policy</b></h2>
             <p>This privacy policy applies to personal information we hold about individuals.
We take the privacy of your personal information very seriously and will only use your personal information in accordance with the current data protection law in the UK and this privacy policy.</p>
              <p>Using your information</p>
              <p><b> We may use your information (which we receive from you or third parties or learn from the way you use our products) for a variety of purposes, including:</b></p>
              <ul>
                 <li>to provide or manage any information, products and services requested.</li>
                 <li>to help us identify you when you contact us, </li>
                 <li>for general administration purposes,</li>
                 <li>to help us improve the quality of our products and services, </li>
                 <li>to help us detect and prevent fraud and money laundering, </li>
                 <li>to help us recover debts, </li>
                 <li>to carry out analysis and customer profiling, </li>
                 <li>to identify other products &amp; services which might be of interest to you and to inform you about our products and services.</li>
             </ul>
             <p><b>We may share your information for any of these purposes with:</b></p>
             <ul>
                 <li>Our other SEB Groupe companies in the UK and abroad, </li>
                 <li>our service providers who perform services on our behalf, such as credit card processors and data management firms.</li>
             </ul>
             <p><b>We may also pass your information to third parties:</b></p>
             <ul>
                 <li>if we have been asked to provide information for legal or regulatory purposes, </li>
                 <li>in relation to existing or future legal proceedings, </li>
                 <li>for the purpose of preventing fraud/loss, for example to fraud prevention agencies. </li>
             </ul>
             <p><b>Informing you about our products and services</b></p>
             <p>We may use your information to contact you with news on Groupe SEB products and services (provided by us, our other group companies or our carefully selected business partners) which may be of interest to you and occasionally for market research purposes.
We and these other parties may contact you by post and phone and, if you give us your prior agreement to do so, by email, SMS and other electronic means.

You can opt out of receiving marketing communications from us on our products and services by ticking the appropriate box (if providing your information on this website) or at any time by calling us on; 0845 602 1454, or writing to us at Groupe SEB UK Ltd, Customer Relations Department, Riverside House, Riverside Walk, Berkshire SL4 1NA.</p>
             <p>We will only send you marketing communications by email or other electronic means if you give us your agreement to do so. For example, we may inform you when inviting you to provide your email address that by providing your email address you will be indicating your agreement to receive marketing emails. If you give us your agreement and subsequently wish to opt out you can do so by clicking the unsubscribe link which we include on all our marketing emails or you can contact us at any time at the address or telephone number above.</p>
         </div>
     </div>     
</div>

<!-- Begin MailChimp Signup Form -->
<div style="display:none" id="mc_embed_signup">
<form action="http://tefal.us7.list-manage2.com/subscribe/post?u=f1e1f9734ffb1dc33f4668b72&amp;id=b4dc99ba35" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" >
    <h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
    <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
    <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
    <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
</label>
    <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>  
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>